.stash {
  color: rgb(12, 168, 46);
}

.stash-small {
  padding-left: 10px;
  font-size: 12px;
  text-align: left;
  /* opacity: 0.3; */
}

.x-bg {
  border-radius: 15px;
  padding: 10px;
  border: 1px solid gray;
}

.stash-row {
  justify-content: center;
  text-align: center;
}

.versus {
  margin: auto;
}

.phone-bg {
  background-color: rgba(0, 128, 0, 0.555);
  /* height: 65vh; */
  border-radius: 20px;
}

@media (max-width: 768px) {
  .versus {
    display: none;
  }
}

@media (max-width: 576px) {
  .versus {
    display: none;
  }
}
