.small {
  font-size: 16px !important;
  /* text-align: right; */
}

.all-buttons {
  width: 75%;
}

.play-store {
  padding: 18px;
  border: 1px solid green;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s;
}
.apple-store {
  padding: 18px;
  border: none;
  background-color: transparent;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}

.play-store:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.apple-store:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 20px;
}

span {
  padding-left: 7px;
}


.subscribers {
  /* background-color: aqua; */
  background: linear-gradient(
      rgba(7, 163, 33, 0.7) 50%,
      rgba(7, 163, 33, 0.7) 50%
    ),
    url(../../assets/360_F_369339836_AmJg6vLxVAVB0HhwOtUM037xTcRBOTmO.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
  color: white;
}

.subscribers p {
  font-weight: 600;
  padding-top: 1rem;
}

.sub-text {
  border-right: 1px solid rgba(255, 255, 255, 0.288);
}

/* Responsive styles for screens smaller than 768px (adjust the max-width as needed) */
@media (max-width: 768px) {
  .all-buttons {
    width: 100%;
  }

  /* .sub-text {
    border-bottom: 1px solid rgba(255, 255, 255, 0.288);
    border-right: none;
  } */

  .play-store,
  .apple-store {
    width: 100%;
    margin-bottom: 10px;
  }

  .subscribers p {
    font-size: 18px;
    padding-top: 0.5rem;
  }

  .sub-text {
    border-right: 1px solid rgba(255, 255, 255, 0.288);
    padding-right: 0;
  }
}

@media (max-width: 576px) {
  .all-buttons,
  .play-store,
  .apple-store {
    width: 100%;
    margin-bottom: 10px;
  }

  .subscribers p {
    font-size: 9px;
    padding-top: 0.25rem;
  }
}
